{% extends 'base.html' %}
{% load static %}
{% block title %}Pagamento Bem-Sucedido | AlphaPay{% endblock %}
{% block styles %} <link rel="stylesheet" href="{% static 'styles/success.css' %}"> {% endblock %}

{% block content %}
    <div class="transferencia-container">
        <div class="card info-conta">
            <h2>Transferência Concluída</h2>
            <p class="success-text">✅ Sua transferência foi realizada com sucesso!</p>
        </div>

        <div class="card detalhes-transferencia">
            <h3>Detalhes da Transferência</h3>
            <p><strong>Conta de Origem:</strong> {{ user.first_name }} {{ user.last_name }} ({{ user_account.account_number }})</p>
            <p><strong>Conta de Destino:</strong> {{ reciver_name }} ({{ reciver_account }})</p>
            <p><strong>Valor Transferido:</strong> R$ {{ transfer.amount|floatformat:2 }}</p>
            {% if descricao %}
            <p><strong>Descrição:</strong> {{ transfer.description }}</p>
            {% endif %}
            <p class="data-transferencia"><strong>Data:</strong> {{ transfer.timestamp|date:"d/m/Y H:i" }}</p>
        </div>

        <div class="botoes">
            <a href="{% url 'transfer' %}" class="btn">Fazer nova transferência</a>
            <a href="{% url 'dashboard' %}" class="btn btn-secundario">Voltar ao início</a>
        </div>
    </div>
{% endblock %}